# Required
[[plugins]]
repo = 'Shougo/dein.vim'

# snippets
[[plugins]]
repo = 'Shougo/neosnippet-snippets'

# extra snippets
# [[plugins]]
# repo = 'honza/vim-snippets'

# vim-airline
[[plugins]]
repo = 'vim-airline/vim-airline'
depends = ['vim-airline-themes']
hook_add = '''
  source ~/.config/nvim/dein/plugins/vim-airline.plug.vim
'''

[[plugins]]
repo = 'vim-airline/vim-airline-themes'

# vim color theme 'quantum'
[[plugins]]
repo = 'tyrannicaltoucan/vim-quantum'

# vim-devicons
[[plugins]]
repo = 'ryanoasis/vim-devicons'
hook_add = '''
    " フォルダアイコンの表示をon
    let g:WebDevIconsUnicodeDecorateFolderNodes = 1
'''

# Fern
# [[plugins]]
# repo = 'lambdalisue/fern.vim'
# hook_add = '''
#   source ~/.config/nvim/dein/plugins/fern.plug.vim
# '''

# fix cursorHold for Fern
# [[plugins]]
# repo = 'antoinemadec/FixCursorHold.nvim'
# depends = ['fern.vim']
# hook_add = '''
#   source ~/.config/nvim/dein/plugins/FixCursorHold.plug.vim
# '''

# git status for fern
# [[plugins]]
# repo = 'lambdalisue/fern-git-status.vim'
# depends = ['fern.vim']

# devicons for fern
# [[plugins]]
# repo = 'lambdalisue/fern-renderer-devicons.vim'
# depends = ['fern.vim', 'vim-devicons']

# hijack for fern
# [[plugins]]
# repo = 'lambdalisue/fern-hijack.vim'
# depends = ['fern.vim']

# mapping fern
# [[plugins]]
# repo = 'lambdalisue/fern-mapping-project-top.vim'
# depends = ['fern.vim']

# fzf for fern
# [[plugins]]
# repo = 'LumaKernel/fern-mapping-fzf.vim'
# depends = ['fern.vim']

# NERDTree, <C-n>で起動
 [[plugins]]
 repo = 'scrooloose/nerdtree'
 hook_add = '''
   augroup nerdtree_config
     autocmd!
     autocmd vimenter * NERDTree
     autocmd vimenter * wincmd l
   augroup END
 '''
# " open a NERDTree automatically when vim starts up
#  " open a NERDTree automatically when vim starts up if no files were specified
#  " autocmd StdinReadPre * let s:std_in=1
#  " autocmd VimEnter * if argc() == 0 && !exists("s:std_in") | NERDTree | endif

[[plugins]]
repo = 'Xuyuanp/nerdtree-git-plugin'

# yank履歴を遡る,ペースト後, ctrl+nで遡る,反対はctrl+p
[[plugins]]
repo = 'LeafCage/yankround.vim'
hook_add = '''
  source ~/.config/nvim/dein/plugins/yankround.plug.vim
'''

# コメント化，コメント解除，gc{motion}
[[plugins]]
repo = 'tpope/vim-commentary'

# defx vimfiler
# [[plugins]]
# repo = 'Shougo/defx.nvim'

# 括弧の差し替え，追加，削除
[[plugins]]
repo = 'tpope/vim-surround'

# indent line
[[plugins]]
repo = 'Yggdroot/indentLine'

#fzf
[[plugins]]
repo = 'junegunn/fzf'
build = './install --bin'
merged = '0'

# fzf.vim
[[plugins]]
repo = 'junegunn/fzf.vim'
depends = 'fzf'
hook_add = '''
  source ~/.config/nvim/dein/plugins/fzf.plug.vim
  command! -bang -nargs=* Rg
  \ call fzf#vim#grep(
  \   'rg --line-number --no-heading '.shellescape(<q-args>), 0,
  \   fzf#vim#with_preview({'options': '--exact --reverse'}, 'right:50%:wrap'))
'''

# shell interface for NeoVim
[[plugins]]
repo = 'Shougo/deol.nvim'
hook_add = '''
  source ~/.config/nvim/dein/plugins/deol.plug.vim
'''

# move (), {}, tag and etc...
[[plugins]]
repo = 'andymass/vim-matchup'

# -------------test-----------------
[[plugins]]
repo = 'neoclide/coc.nvim'
merged = 0
rev = 'release'
hook_add = '''
  source ~/.config/nvim/dein/plugins/coc.plug.vim
'''

[[plugins]]
repo = 'liuchengxu/vista.vim'
depends = ['coc.nvim']
hook_add = '''
  source ~/.config/nvim/dein/plugins/vista.plug.vim
'''

